<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajouter un ticket</title>
    <link rel="stylesheet" href="/styles/my-tailwind.css" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include('_header.ejs') %>
    <h2 class="m-auto w-fit mb-5 text-4xl">Nouveau ticket</h2>
    <form action="/tickets/ajouter" method="post">
      <%- include('_form-ticket.ejs') %>
      <div class="w-full flex justify-center "">
        <button
          type="submit"
          class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
        >
          Ajouter
        </button>
      </div>
    </form>
    <%- include('_footer.ejs') %>
  </body>
</html>
