<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajouter un ticket</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include('_header.ejs') %>
    <h2>Nouveau ticket</h2>
    <form action="/tickets/ajouter" method="post">
      <%- include('_form-ticket.ejs') %>
      <button type="submit">Ajouter</button>
    </form>
  </body>
</html>
