<html>
  <head>
    <title>Erreur</title>
    <link rel="stylesheet" href="/styles/my-tailwind.css" />
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding-top: 50px;
      }
      h1 {
        color: #e74c3c;
      }
    </style>
  </head>
  <body>
    <h1>La ressource demandée est introuvable</h1>
  </body>
</html>
