<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modifier un ticket</title>
  </head>
  <body>
    <h2>Modifier un ticket</h2>
    <form action="/tickets/<%= ticket.id %>/modifier" method="post">
      <label for="titre">Titre</label>
      <input type="text" name="titre" id="titre" value="<%= ticket.titre %>" />
      <label for="description">Description</label>
      <input
        type="text"
        name="description"
        id="description"
        value="<%= ticket.description %>"
      />
      <button type="submit">Modifier</button>
    </form>
  </body>
</html>
