<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modifier un ticket</title>
    <link rel="stylesheet" href="/styles/my-tailwind.css" />
  </head>
  <body>
    <%- include('_header.ejs') %>
    <h2>Modifier un ticket</h2>
    <form action="/tickets/<%= ticket.id %>/modifier" method="post">
      <%- include('_form-ticket.ejs') %>
      <button type="submit">Modifier</button>
    </form>
  </body>
</html>
